/* Navbar */

.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-nav > li > a {
  color: #484848;
}

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 0;
  }
}

/* Button */

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
  background-color: #f39c12;
  border-color: white;
}
